* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
}

body {
  width: 70%;
  margin: auto;
  background: linear-gradient(-45deg, #eb6e48, #dd296e, #1ca5d7, #18d9ac);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.refresh-btn {
  padding: 0 10px;
  padding: 0.15rem 1rem;
  align-self: flex-end;
  width: 30%;
  height: 50px;
  border: 1px solid;
  background: #dd296e;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.scores {
  width: 400px;
  margin-top: 20px;
}

.scores-container {
  border: 2px #fff solid;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background: #dd296e;
  border-bottom: #fff 1px solid;
}

.form-title {
  margin-top: 20px;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 400px;
}

::placeholder {
  color: #cecccc;
}

.submit-btn {
  padding: 0.15rem 1rem;
  align-self: flex-end;
  width: 50%;
  height: 50px;
  border: 1px solid;
  background: #dd296e;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.submit-btn:hover {
  border-color: #18d9ac;
  transition: 0.5s;
}

input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #fff;
}

input:focus {
  border-bottom: 2px solid #111010;
  transition: 2s;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}
